<div class="grid grid-cols-1 gap- mb-4">
    <!-- /// -->
   


    <a href="#" class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
    flex flex-col items-center justify-center text-center">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Total Employees
    </h5>

    <div class="flex items-center justify-center gap-2">
        <p class="font-normal text-gray-700 dark:text-gray-400">All Departments :</p>
        <h5 class="mb-0 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">100</h5>
    </div>
</a>

   
        
</div>
<!-- // -->
 <div class="grid grid-cols-4 gap-1 mb-4">
    
    <a href="#" class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">HR Department</h5>
        <div class="flex items-center gap-2">
            <p class="font-normal text-gray-700 dark:text-gray-400">HR :</p>
            <h5 class="mb-0 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">10</h5>
          </div>
    </a>
    <a href="#" class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">IT Department</h5>
        <div class="flex items-center gap-2">
            <p class="font-normal text-gray-700 dark:text-gray-400">IT:</p>
            <h5 class="mb-0 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">50</h5>
          </div>
    </a>
    <a href="#" class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Finance Department</h5>
        <div class="flex items-center gap-2">
            <p class="font-normal text-gray-700 dark:text-gray-400">FInance :</p>
            <h5 class="mb-0 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">10</h5>
          </div>
    </a>
    <a href="#" class=" p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Operations Department</h5>
        <div class="flex items-center gap-2">
            <p class="font-normal text-gray-700 dark:text-gray-400">Operations :</p>
            <h5 class="mb-0 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">40</h5>
          </div>
    </a>
 </div>
